<ul>
  {{#each burgers}}
  {{#if devoured}}
  <li>
    {{burger_name}} - {{devoured}}
      <form action="/{{id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit">Devour!</button>
      </form>

      <form action="/{{id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="false">
          <button type="submit">Undevour!</button>
      </form>
  </li>
  {{/if}}
  {{/each}}

</ul>	
</div>
<hr> 
<ul>
  {{#each burgers}}
  {{#unless devoured}}
  <li>
    {{burger_name}} - {{devoured}}
      <form action="/{{id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit">Devour!</button>
      </form>

      <form action="/{{id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="false">
          <button type="submit">Undevour!</button>
      </form>
  </li>
  {{/unless}}
  {{/each}}

</ul> 





